
  body {
    font-family: Arial, Helvetica, sans-serif;
  }



.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color:white;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 0px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: solid;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.2s;
}

.sidepanel a:hover {
  color: gray;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  text-align: right;
  position: relative;
  padding-right: 2%;
  font-size: 41px;
}

.openbtn {
  font-size: 50px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:rgb(168, 158, 158);
}

.top_section{
  padding: 0;
  height: 50vh;
  width: 100%;
  background-color: black;

}

.icon{
  margin-right: 5%;
}


* {
  box-sizing: border-box;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 33.33%;
  margin-top: 10px;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  height: 40vh;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/*Logos*/
.logos{
  height: 33.33%;
  width: fit-content;
}


/*Company Logo*/
.company_logo{
  margin-top: 0.5%;
  margin-left: 36%;
  height: 6%;
  width: 6%;
}

/*Name and slogan*/
.name_slogan{
  margin-bottom: 30%;
  color: white;
  margin-left: 44%;
  width: 50%;
  
}

