body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #3b4045;
  font:14px/22px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0px;
}
h1 {
  font-size: 44px;
  line-height: 56px;
  color: #fff;
}
h2 {
font-size: 30px;
line-height: 35px;
}
h3 {
  font-size: 23px;
  line-height: 25px;
}
h4 {
font-size: 20px;
line-height: 24px;
font-weight: 400;
}
p {
  font-size: 16px;
  line-height: 25px;
  margin: 0px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.section {
  padding: 100px 0;
}

.heading {
  text-align: center;
  color: #777777;
  padding-bottom: 70px;
}
.heading h2 {
  color: #3c3c3c;
  padding-bottom: 30px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
}
.heading p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

.sub-heading {
  margin-bottom: 30px;
}

.sub-heading h3 {
  font-size: 30px;
  line-height: 40px;
}

.sub-heading h3 small {
  font-weight: 300;
}

.sub-heading h4 {
  font-size: 25px;
  margin-bottom: 15px;
}

.sub-heading > p {
  font-size: 14px;
  color: #777;
}
/* Sweep To Right */
.hover-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hover-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hover-right:hover,
.hover-right:focus,
.hover-right:active {
  color: white;
}
.hover-right:hover:before,
.hover-right:focus:before,
.hover-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#preloader {
  background-color: #fff;
  bottom: auto;
  height: 100%;
  left: auto;
  position: fixed;
  right: auto;
  top: auto;
  width: 100%;
  z-index: 9999;
}

@-webkit-keyframes flip {
0% {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}
20% {
  background: #41aba0;
}
29.9% {
  background: #41aba0;
}
30% {
  -webkit-transform: perspective(200px) rotateY(-90deg);
          transform: perspective(200px) rotateY(-90deg);
  background: #41aba0;
}
54.999% {
  opacity: 1;
}
55% {
  opacity: 0;
}
60% {
  -webkit-transform: perspective(200px) rotateY(-180deg);
          transform: perspective(200px) rotateY(-180deg);
  background: #41aba0;
}
100% {
  -webkit-transform: perspective(200px) rotateY(-180deg);
          transform: perspective(200px) rotateY(-180deg);
  background: #41aba0;
}
}

@keyframes flip {
0% {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}
20% {
  background: #41aba0;
}
29.9% {
  background: #41aba0;
}
30% {
  -webkit-transform: perspective(200px) rotateY(-90deg);
          transform: perspective(200px) rotateY(-90deg);
  background: #41aba0;
}
54.999% {
  opacity: 1;
}
55% {
  opacity: 0;
}
60% {
  -webkit-transform: perspective(200px) rotateY(-180deg);
          transform: perspective(200px) rotateY(-180deg);
  background: #41aba0;
}
100% {
  -webkit-transform: perspective(200px) rotateY(-180deg);
          transform: perspective(200px) rotateY(-180deg);
  background: #41aba0;
}
}

#service {
  text-align: center;
  background: #f9f9f9;
}

.service {
  text-align: left;
}
.service .caption {
  text-align: center;
}
.service .caption h3 { 
  margin: 0 0 10px;
  color: #333333;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
}

.service .icon-box {
  display: inline-block;
  margin-bottom: 15px;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

.service .icon-box .icon {
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
-ms-transition: all 0.2s ease-in;
-khtml-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}

footer {
  text-align: center;
  background: #272727;
  padding: 27px 0px;
}
footer p {
  font-weight: 300;
  font-size: 12px;
  color: #dfdfdf;
  letter-spacing: 3px;
}
footer p a {
color: #fff;
}
footer p a:hover {
color: #fff;
}
